<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Installation, technical support, maintenance, and customization service available. </h1>
    <h3>
      <strong>Contact:</strong> <br/>
      Aamir Sayid <br/>
      Email: <strong>aamir.sayid@gmail.com</strong> <br/>
      Phone: <strong>+91 - 9811 44 2335</strong> <br/>
      Website: <strong>www.aamirsayid.com</strong> <br/>
    </h3>
  </div>
</div>