<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <img src="/images/logo.jpg" alt="Prawo" class="img-responsive" />
    <h2 class="text-center">Law Firm Management System</h2>
  </div>
</div>
