<% provide(:title, 'Edit Client Details') %>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Client Details</h3>
      </div>
      <div class="panel-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Instructions</h3>
      </div>
      <div class="panel-body">
        <% if @client.errors.any? %>

          <% @client.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger" role="alert"><%= msg %></div>
          <% end %>

        <% else %>
          <div class="alert alert-success" role="alert"><strong>Name:</strong> Fill complete name of the client.<br/></div>
          <div class="alert alert-success" role="alert"><strong>Father's / Director's Name:</strong> Fill father's name for the humans and director's name for the non-human entities.<br/></div>
          <div class="alert alert-success" role="alert"><strong>Phone:</strong> Fill the phone number of the client along with country code.<br/></div>
          <div class="alert alert-success" role="alert"><strong>Email:</strong> Fill email address of the client.<br/></div>
          <div class="alert alert-success" role="alert"><strong>Date of Birth / Incorporation:</strong> Fill date of birth in case of humans and date of incorporation in case of non-human entities.<br/></div>
          <div class="alert alert-success" role="alert"><strong>Address:</strong> Fill address of the client.<br/></div>
          <div class="alert alert-success" role="alert"><strong>City:</strong> Fill city name. No initials.<br/></div>
          <div class="alert alert-success" role="alert"><strong>PIN / ZIP:</strong> Fill postal PIN/ZIP code.<br/></div>
          <div class="alert alert-success" role="alert"><strong>State:</strong> Fill state name. No initials.<br/></div>
          <div class="alert alert-success" role="alert"><strong>Country:</strong> Select country name from the drop down.<br/></div>
          <div class="alert alert-success" role="alert"><strong>Notes:</strong> Put additional notes about the client here.</div>
          <hr />
          <%= link_to 'Back to Client Details', client_path(@client), class: 'btn btn-lg btn-primary' %>
          <%= link_to 'Delete', client_path(@client), method: :delete, data: { confirm: 'Do you want to delete this client and all its associated data?' }, class: 'btn btn-lg btn-danger' %>
        <% end %>
      </div>
    </div>
  </div>
</div>