<footer class="footer">
  <div class="container">
    <p class="text-center text-muted">Copyright (C) <span id="copyright_year"></span> <a href="https://www.aamirsayid.com">Aamir Sayid</a>.</p>
  </div>
</footer>
<script>
    document.getElementById("copyright_year").innerHTML = (new Date()).getFullYear();
</script>